:root {
    --seq-color-green-a: #BFFFDD;
    --seq-color-green-a-rgb: 191, 255, 221;
    --seq-color-green-b: #72D39F;
    --seq-color-green-b-rgb: 114, 211, 159;
    --seq-color-yellow-a: #FFCE8A;
    --seq-color-yellow-a-rgb: 255, 206, 138;
    --seq-color-yellow-b: #FFB854;
    --seq-color-yellow-b-rgb: 255, 184, 84;
    --seq-color-red-a: #FFA5A0;
    --seq-color-red-a-rgb: 255, 165, 160;
    --seq-color-red-b: #FF7C74;
    --seq-color-red-b-rgb: 255, 124, 116;

    --seq-color-brand: var(--seq-color-green-a);
    --seq-color-brand-rgb: var(--seq-color-green-a-rgb);
    --seq-color-brand-10: rgba(var(--seq-color-green-a-rgb), .1);
    --seq-color-brand-20: rgba(var(--seq-color-green-a-rgb), .2);
    --seq-color-brand-30: rgba(var(--seq-color-green-a-rgb), .3);
    --seq-color-brand-40: rgba(var(--seq-color-green-a-rgb), .4);
    --seq-color-brand-50: rgba(var(--seq-color-green-a-rgb), .5);
    --seq-color-brand-60: rgba(var(--seq-color-green-a-rgb), .6);
    --seq-color-brand-70: rgba(var(--seq-color-green-a-rgb), .7);
    --seq-color-brand-80: rgba(var(--seq-color-green-a-rgb), .8);
    --seq-color-brand-90: rgba(var(--seq-color-green-a-rgb), .9);
    --seq-color-brand-100: rgba(var(--seq-color-green-a-rgb), 1);
    --seq-color-success: var(--seq-color-green-b);
    --seq-color-success-rgb: var(--seq-color-green-b-rgb);
    --seq-color-success-hover: var(--seq-color-green-a);
    --seq-color-success-10: rgba(var(--seq-color-success-rgb), .1);
    --seq-color-success-20: rgba(var(--seq-color-success-rgb), .2);
    --seq-color-success-30: rgba(var(--seq-color-success-rgb), .3);
    --seq-color-success-40: rgba(var(--seq-color-success-rgb), .4);
    --seq-color-success-50: rgba(var(--seq-color-success-rgb), .5);
    --seq-color-success-60: rgba(var(--seq-color-success-rgb), .6);
    --seq-color-success-70: rgba(var(--seq-color-success-rgb), .7);
    --seq-color-success-80: rgba(var(--seq-color-success-rgb), .8);
    --seq-color-success-90: rgba(var(--seq-color-success-rgb), .9);
    --seq-color-success-100: rgba(var(--seq-color-success-rgb), 1);
    --seq-color-warning: var(--seq-color-yellow-b);
    --seq-color-warning-rgb: var(--seq-color-yellow-b-rgb);
    --seq-color-warning-hover: var(--seq-color-yellow-a);
    --seq-color-warning-10: rgba(var(--seq-color-warning-rgb), .1);
    --seq-color-warning-20: rgba(var(--seq-color-warning-rgb), .2);
    --seq-color-warning-30: rgba(var(--seq-color-warning-rgb), .3);
    --seq-color-warning-40: rgba(var(--seq-color-warning-rgb), .4);
    --seq-color-warning-50: rgba(var(--seq-color-warning-rgb), .5);
    --seq-color-warning-60: rgba(var(--seq-color-warning-rgb), .6);
    --seq-color-warning-70: rgba(var(--seq-color-warning-rgb), .7);
    --seq-color-warning-80: rgba(var(--seq-color-warning-rgb), .8);
    --seq-color-warning-90: rgba(var(--seq-color-warning-rgb), .9);
    --seq-color-warning-100: rgba(var(--seq-color-warning-rgb), 1);
    --seq-color-danger: var(--seq-color-red-b);
    --seq-color-danger-rgb: var(--seq-color-red-b-rgb);
    --seq-color-danger-hover: var(--seq-color-red-a);
    --seq-color-danger-10: rgba(var(--seq-color-danger-rgb), .1);
    --seq-color-danger-20: rgba(var(--seq-color-danger-rgb), .2);
    --seq-color-danger-30: rgba(var(--seq-color-danger-rgb), .3);
    --seq-color-danger-40: rgba(var(--seq-color-danger-rgb), .4);
    --seq-color-danger-50: rgba(var(--seq-color-danger-rgb), .5);
    --seq-color-danger-60: rgba(var(--seq-color-danger-rgb), .6);
    --seq-color-danger-70: rgba(var(--seq-color-danger-rgb), .7);
    --seq-color-danger-80: rgba(var(--seq-color-danger-rgb), .8);
    --seq-color-danger-90: rgba(var(--seq-color-danger-rgb), .9);
    --seq-color-danger-100: rgba(var(--seq-color-danger-rgb), 1);
    --seq-color-white: #ffffff;
    --seq-color-white-rgb: 255, 255, 255;
    --seq-color-white-10: rgba(var(--seq-color-white-rgb), .1);
    --seq-color-white-20: rgba(var(--seq-color-white-rgb), .2);
    --seq-color-white-30: rgba(var(--seq-color-white-rgb), .3);
    --seq-color-white-40: rgba(var(--seq-color-white-rgb), .4);
    --seq-color-white-50: rgba(var(--seq-color-white-rgb), .5);
    --seq-color-white-60: rgba(var(--seq-color-white-rgb), .6);
    --seq-color-white-70: rgba(var(--seq-color-white-rgb), .7);
    --seq-color-white-80: rgba(var(--seq-color-white-rgb), .8);
    --seq-color-white-90: rgba(var(--seq-color-white-rgb), .9);
    --seq-color-white-100: rgba(var(--seq-color-white-rgb), 1);
    --seq-color-black: #000000;
    --seq-color-black-rgb: 0, 0, 0;
    --seq-color-black-10: rgba(var(--seq-color-black-rgb), .1);
    --seq-color-black-20: rgba(var(--seq-color-black-rgb), .2);
    --seq-color-black-30: rgba(var(--seq-color-black-rgb), .3);
    --seq-color-black-40: rgba(var(--seq-color-black-rgb), .4);
    --seq-color-black-50: rgba(var(--seq-color-black-rgb), .5);
    --seq-color-black-60: rgba(var(--seq-color-black-rgb), .6);
    --seq-color-black-70: rgba(var(--seq-color-black-rgb), .7);
    --seq-color-black-80: rgba(var(--seq-color-black-rgb), .8);
    --seq-color-black-90: rgba(var(--seq-color-black-rgb), .9);
    --seq-color-black-100: rgba(var(--seq-color-black-rgb), 1);

    --seq-color-text-invert: var(--seq-color-black);
    --seq-color-text-brand: var(--seq-color-brand);
    --seq-color-text-primary: var(--seq-color-white-90);
    --seq-color-text-secondary: var(--seq-color-white-70);
    --seq-color-text-tertiary: var(--seq-color-white-50);
    --seq-color-text-disabled: var(--seq-color-white-30);

    --seq-color-bg-index-1: linear-gradient(180deg, var(--seq-color-black-20) 0%, var(--seq-color-black-30) 100%);
    --seq-color-bg-index-2: linear-gradient(180deg, var(--seq-color-black-40) 0%, var(--seq-color-black-50) 100%);
    --seq-color-bg-alpha: rgba(var(--seq-color-white), .02);

    --seq-color-stroke-divider-0: rgba(var(--seq-color-white-rgb), 0);
    --seq-color-stroke-divider-1: rgba(var(--seq-color-white-rgb), .06);
    --seq-color-stroke-divider-2: rgba(var(--seq-color-white-rgb), .12);
    --seq-color-stroke-divider-3: rgba(var(--seq-color-white-rgb), .18);

    // 渐变描边 Normal
    --seq-color-stroke-blend:
        linear-gradient(
            180deg,
            var(--seq-color-white-60) 0%,
            var(--seq-color-white-10) 33%,
            var(--seq-color-white-10) 66%,
            var(--seq-color-white-30) 100%
        );

    --seq-color-interactive-bg-index-1: var(--seq-color-black-20);
    --seq-color-interactive-bg-index-2: var(--seq-color-black-30);
    --seq-color-interactive-bg-index-3: radial-gradient(146.76% 100% at 50% 100%, rgba(114, 211, 159, 0.50) 0%, rgba(89, 214, 147, 0.10) 100%), 
                                        linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.30) 100%);
    --seq-color-interactive-bg-index-4: radial-gradient(146.76% 100% at 50% 0%, rgba(114, 211, 159, 0.60) 0%, rgba(89, 214, 147, 0.10) 100%), 
                                        linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.30) 100%);
    --seq-color-interactive-bg-index-5: radial-gradient(146.76% 100% at 50% 0%, rgba(114, 211, 151, 0.90) 0%, rgba(89, 214, 147, 0.15) 100%), 
                                        linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.30) 100%);
    // 渐变描边 Strong
    --seq-color-interactive-stroke-blend:
        linear-gradient(
            180deg,
            var(--seq-color-white-100) 0%,
            var(--seq-color-white-10) 33%,
            var(--seq-color-white-10) 66%,
            var(--seq-color-white-40) 100%
        );

    --seq-color-button-interactive-bg-brand: linear-gradient(180deg, var(--seq-color-brand) 0%, var(--seq-color-success) 100%);
    --seq-color-button-interactive-bg-warning: linear-gradient(180deg, var(--seq-color-warning-hover) 0%, var(--seq-color-warning) 100%);
    --seq-color-button-interactive-bg-danger: linear-gradient(180deg, var(--seq-color-danger-hover) 0%, var(--seq-color-danger) 100%);

    /* comp 仅为组件使用 */
    /* size-comp 仅作用于组件的 height 或者 width */
    --seq-size-comp-sm: 1.5rem;
    --seq-size-comp-md: 1.75rem;
    --seq-size-comp-lg: 2.25rem;
    --seq-size-comp-lgx: 3rem;

    --seq-space-comp-x-sm: .5rem;
    --seq-space-comp-x-md: .75rem;
    --seq-space-comp-x-lg: 1rem;
    --seq-space-comp-x-lgx: 1.25rem;

    --seq-space-comp-y-sm: .25rem;
    --seq-space-comp-y-md: .375rem;
    --seq-space-comp-y-lg: .625rem;
    --seq-space-comp-y-lgx: .75rem;

    --seq-gap-comp-sm: .25rem;
    --seq-gap-comp-md: .375rem;
    --seq-gap-comp-lg: .5rem;
    --seq-gap-comp-lgx: .625rem;

    /* 全局 */
    --seq-space-global-1: .25rem;
    --seq-space-global-2: .5rem;
    --seq-space-global-3: .75rem;
    --seq-space-global-4: 1rem;
    --seq-space-global-5: 1.25rem;
    --seq-space-global-8: 2rem;
    --seq-space-global-10: 2.5rem;

    --seq-gap-global-1: .25rem;
    --seq-gap-global-2: .5rem;
    --seq-gap-global-3: .75rem;
    --seq-gap-global-4: 1rem;
    --seq-gap-global-5: 1.25rem;
    --seq-gap-global-8: 2rem;
    --seq-gap-global-10: 2.5rem;

    --seq-radius-0: 0rem;
    --seq-radius-33: .25rem;
    --seq-radius-66: .5rem;
    --seq-radius-83: .625rem;
    --seq-radius-100: .75rem;
    --seq-radius-200: 1.5rem;
    --seq-radius-300: 2.25rem;
    --seq-radius-400: 3rem;

    --seq-font-size-footnote: .75rem;
    --seq-font-size-body: .875rem;
    --seq-font-size-h3: 1rem;
    --seq-font-size-h2: 1.25rem;
    --seq-font-size-h1: 1.5rem;

    --seq-font-line-height-footnote: 1.25rem;
    --seq-font-line-height-body: 1.375rem;
    --seq-font-line-height-h3: 1.5rem;
    --seq-font-line-height-h2: 1.75rem;
    --seq-font-line-height-h1: 2rem;

    --seq-effect-blur-sm: blur(.75rem);
    --seq-effect-blur-md: blur(1.5rem);
    --seq-effect-blur-lg: blur(2.25rem);
    --seq-effect-blur-lgx: blur(3rem);

    --seq-transition-default: .3s ease;
    --seq-transition-curve: .3s ease-in-out;
}